<template>
  <nouhin-detail :is-edit="false" />
</template>

<script>
import NouhinDetail from './components/NouhinDetail';

export default {
  name: 'CreateForm',
  components: { NouhinDetail },
};
</script>

