<template>
  <nouhin-detail :is-edit="true" />
</template>

<script>
import NouhinDetail from './components/NouhinDetail';

export default {
  name: 'EditForm',
  components: { NouhinDetail },
};
</script>

