<template>
  <div class="app-container color-background">
    <!-- Header -->
    <div class="header-container">
      <span class="header-title">納品書 検索・一覧</span>
      <el-button
        class="f-right"
        type="primary"
        @click="dashboad()"
      >
        メニューへ戻る
      </el-button>
    </div>
    <!--Header-->
    <!--Button-->
    <div class="btn-container">
      <el-button
        class="btn-top-left"
        type="primary"
        @click="dashboad()"
      >
        メニューへ戻る
      </el-button>
      <router-link :to="'/nouhin/create/'">
        <el-button
          style="margin-left: 10px;"
          type="primary"
          icon="el-icon-plus"
        >
          新規納品書登録
        </el-button>
      </router-link>
      <router-link :to="'/excel/upload-excel/'">
        <el-button
          v-waves
          type="primary"
          icon="el-icon-upload"
        >
          CSV インポート
        </el-button>
      </router-link>
      <el-button
        class="f-right"
        type="danger"
        icon="el-icon-delete"
        @click="removeAllSearch()"
      >
        検索結果を一括削除
      </el-button>
    </div>
    <!--Button-->
    <!-- Search & Filter -->
    <h3 class="title-filter">検索条件</h3>
    <div class="filter-container">
      <div class="one-line">
        <el-row style="margin-bottom: 20px;">
          <el-col :span="6">
            <el-input
              v-model="query.denpyo_number"
              placeholder="伝票No."
              style="width: 80%"
            >
              <template slot="prepend"><span class="c666">伝票No.</span></template>
            </el-input>
          </el-col>
          <el-col :span="3">
            <el-input
              v-model="query.torihiki_text"
              placeholder="取引名"
            >
              <template slot="prepend"><span class="c666">取引名</span></template>
            </el-input>
          </el-col>
          <el-col :span="3">
            <el-input
              v-model="query.torihiki_code"
              :placeholder="'コード'"
              style="width: 60%"
            />
          </el-col>
          <el-col :span="6">
            <span class="custom-label">納入先</span>
            <el-select
              v-model="query.nonyusaki_id"
              :placeholder="'納入先'"
              style="margin-left: -5px"
              clearable
            >
              <el-option
                :key="''"
                :label="'選択なし'"
                :value="''"
                :disabled="true"
              />
              <el-option v-for="item in listClients.filter(x => (x.type === 2))" :key="item.id" :label="item.name" :value="item.id">
                <span style="float: left">{{ item.code }} : &nbsp;</span>
                <span>{{ item.name }}</span>
              </el-option>
            </el-select>
          </el-col>
          <el-col :span="6">
            <span class="custom-label">請求先</span>
            <el-select
              v-model="query.seikyusaki_id"
              :placeholder="'請求先'"
              style="margin-left: -5px"
              clearable
            >
              <el-option
                :key="''"
                :label="'選択なし'"
                :value="''"
                :disabled="true"
              />
              <el-option v-for="item in listClients.filter(x => (x.type === 1))" :key="item.id" :label="item.name" :value="item.id">
                <span style="float: left">{{ item.code }} : &nbsp;</span>
                <span>{{ item.name }}</span>
              </el-option>
            </el-select>
          </el-col>
        </el-row>
      </div>
      <div class="two-line">
        <el-row>
          <span class="f-left custom-label">社内担当者</span>
          <el-col :span="6">
            <el-select
              v-model="query.tantou_id"
              :placeholder="'社内担当者'"
              style="margin-left: -5px"
              clearable
            >
              <el-option
                :key="''"
                :label="'選択なし'"
                :value="''"
                :disabled="true"
              />
              <el-option v-for="item in listUsers" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
            <el-button
              type="primary"
              @click="selectLogginUser"
            >
              自分
            </el-button>
          </el-col>
          <el-col :span="9">
            <span class="f-left custom-label">取引日</span>
            <el-date-picker
              v-model="query.torihiki_datetime"
              type="daterange"
              range-separator="~"
              start-placeholder="Start date"
              end-placeholder="End date"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd"
            />
            <el-button
              type="primary"
              @click="clearInputDate()"
            >
              クリア
            </el-button>
          </el-col>
          <el-col :span="5" style="margin-left: 95px">
            <el-input
              v-model="query.biko_text"
              placeholder="メモ・備考"
              style="width: 90%"
            >
              <template slot="prepend"><span class="c666">メモ・備考</span></template>
            </el-input>
          </el-col>
        </el-row>
      </div>
      <div style="clear: both">&nbsp;</div>
      <div class="three-line">
        <el-row>
          <el-col :span="4">
            <span class="f-left custom-label">表示件数</span>
            <el-select
              v-model="query.limit"
              :placeholder="'表示件数'"
              style="width: 90px"
              @change="handleFilter"
            >
              <el-option v-for="item in rowsPerPage" :key="item" :value="item" />
            </el-select>
          </el-col>
          <el-col :span="20">
            <el-button v-waves type="primary" icon="el-icon-search" @click="handleFilter">
              検索する
            </el-button>
            <el-button v-waves type="danger" @click="clearAllSearchCondition">
              検索条件をクリアする
            </el-button>
          </el-col>
        </el-row>
      </div>
    </div>
    <!-- Search & Filter-->
    <h3 class="title-filter pt-20">納品書一覧表   （検索結果： {{ total }} 件）</h3>
    <!-- Table -->
    <el-table v-loading="loading" :data="list" :empty-text="'データなし'" border fit highlight-current-row style="width: 100%">
      <el-table-column align="center" label="伝票No." width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.denpyo_number }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="取引名">
        <template slot-scope="scope">
          <span>{{ scope.row.torihiki_text }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="納入先">
        <template slot-scope="scope">
          <span>{{ scope.row.nonyusaki_name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="請求先" width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.seikyusaki_name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="担当者" width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.tantou_name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="取引日" width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.torihiki_datetime }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="備考" width="200">
        <template slot-scope="scope">
          <span>
            <pre class="biko-text">{{ scope.row.biko_text }}</pre>
          </span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="合計額(税抜)" width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.total_kingaku }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="登録日 最終更新日" width="120">
        <template slot-scope="scope">
          <p>{{ scope.row.created_at }}</p>
          <p>{{ scope.row.updated_at }}</p>
        </template>
      </el-table-column>

      <el-table-column align="center" label="操作" width="150">
        <template slot-scope="scope">
          <router-link v-if="!rolesLogged.includes('user')" :to="'/nouhin/edit/'+scope.row.id">
            <el-button type="primary" size="small" icon="el-icon-edit" />
          </router-link>
          <el-button
            type="danger"
            size="small"
            icon="el-icon-delete"
            @click="handleDelete(scope.row.id, scope.row.name)"
          />
        </template>
      </el-table-column>
    </el-table>
    <!--Table-->
    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import Resource from '@/api/resource';
import waves from '@/directive/waves';
import UserResource from '@/api/user'; // Waves directive

const nouhinshouResource = new Resource('nouhinshous');
const clientResource = new Resource('clients');
const userResource = new UserResource();

export default {
  name: 'ListNouhinshous',
  components: { Pagination },
  directives: { waves },
  data() {
    return {
      list: null,
      listUsers: [],
      listClients: [],
      total: 0,
      loading: true,
      query: {
        page: 1,
        limit: 50,
        biko_text: '',
        torihiki_text: '',
        torihiki_code: '',
        torihiki_datetime: '',
        denpyo_number: '',
        nonyusaki_id: '',
        seikyusaki_id: '',
        tantou_id: '',
        role: '',
      },
      rowsPerPage: [50, 100, 150],
      roles: ['admin', 'manager', 'user'],
      nonAdminRoles: ['user'],
    };
  },
  computed: {
    // get role user has logged
    rolesLogged() {
      return this.$store.getters.roles;
    },
  },
  created() {
    this.getList(this.rolesLogged);
    this.getListUsers();
    this.getListClients();
  },
  methods: {
    async getList(rolesLogged) {
      const { limit, page } = this.query;
      this.query.role = rolesLogged[0];
      this.loading = true;
      const { data, meta } = await nouhinshouResource.list(this.query);
      this.list = data;
      this.list.forEach((element, index) => {
        element['index'] = (page - 1) * limit + index + 1;
      });
      this.total = meta.total;
      this.loading = false;
    },
    async getListUsers() {
      const { data } = await userResource.list([]);
      this.listUsers = data;
    },
    async getListClients() {
      const { data } = await clientResource.list([]);
      this.listClients = data;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList(this.rolesLogged);
    },
    handleDelete(id, name) {
      this.$confirm('この納品書を削除して宜しいでしょうか？', '削除確認', {
        confirmButtonText: 'はい',
        cancelButtonText: 'いいえ',
        type: 'warning',
      }).then(() => {
        nouhinshouResource.destroy(id).then(response => {
          this.$message({
            type: 'success',
            message: '納品書情報の削除が完了しました',
          });
          this.handleFilter();
        }).catch(error => {
          console.log(error);
        });
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '括納品書情報の削除が失敗しました。',
        });
      });
    },
    dashboad() {
      window.location.href = '/#/dashboard';
    },
    clearAllSearchCondition() {
      this.query = {
        page: 1,
        limit: 50,
        biko_text: '',
        torihiki_text: '',
        torihiki_code: '',
        denpyo_number: '',
        nonyusaki_id: '',
        seikyusaki_id: '',
        torihiki_datetime: '',
        tantou_id: '',
        role: '',
        date_from: '',
        date_to: '',
      };
    },
    removeAllSearch() {
      if (this.list.length) {
        this.$confirm('検索結果を一括削除して宜しいでしょうか？', '削除確認', {
          confirmButtonText: 'はい',
          cancelButtonText: 'いいえ',
          type: 'warning',
        }).then(() => {
          this.list.forEach((item) => {
            nouhinshouResource.destroy(item.id);
          });
          this.$message({
            type: 'success',
            message: '納品書情報の削除が完了しました。',
          });
          this.handleFilter();
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '一括納品書情報の削除が失敗しました。',
          });
        });
      }
    },
    selectLogginUser() {
      this.query.tantou_id = this.$store.getters.userId;
    },
    clearInputDate() {
      this.query.torihiki_datetime = '';
    },
  },
};
</script>

<style lang="scss" scoped>
  .edit-input {
    padding-right: 100px;
  }

  .cancel-btn {
    position: absolute;
    right: 15px;
    top: 10px;
  }

  .dialog-footer {
    text-align: left;
    padding-top: 0;
    margin-left: 150px;
  }

  .app-container {
    flex: 1;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;

    .block {
      float: left;
      min-width: 250px;
    }

    .pt-20 {
      padding-top: 20px;
    }
    .header-container {
      padding-bottom: 25px;
      border-bottom: 1px solid #999999;
    }
    .btn-container{
      padding-bottom: 5px;
      border-bottom: 1px solid #999999;
    }
    .btn-container{
      margin: 5px 0;
    }
    .f-left{
      float: left;
    }
    .f-right{
      float: right;
    }
    .title-filter{
      color: #073763;
    }
    .line{
      text-align: center;
    }
    .custom-label {
      background-color: #F5F7FA;
      color: #666666;
      border: 1px solid #DCDFE6;
      border-radius: 4px 0px 0px 4px;
      padding: 9px 20px;
    }
  }
  .c666 {
    color: #666666;
  }
  .biko-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
</style>
