<template>
  <div class="app-container color-background">
    <!-- Header -->
    <div class="header-container">
      <span class="header-title">納品書 検索・一覧</span>
    </div>
    <!--Header-->
    <!--Button-->
    <div class="btn-container">
      <el-button
        v-waves
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        :disabled="isDisabled"
        @click="csvExportType1()"
      >
        CSVタイプ１ダウンロード
      </el-button>
      <el-button
        v-waves
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        :disabled="isDisabled"
        @click="csvExportType2()"
      >
        CSVタイプ２ダウンロード
      </el-button>
    </div>
    <!--Button-->
    <!-- Search & Filter -->
    <h3 class="title-filter">検索条件</h3>
    <div class="filter-container">
      <div class="one-line">
        <el-col :span="5">
          <el-input
            v-model="query.denpyo_number"
            placeholder="伝票No."
            style="width: 80%"
            @keyup.enter.native="handleFilter"
          >
            <template slot="prepend"><span class="c666">伝票No.</span></template>
          </el-input>
        </el-col>
        <el-col :span="4">
          <el-input
            v-model="query.torihiki_text"
            placeholder="取引名"
            style="width: 80%"
            @keyup.enter.native="handleFilter"
          >
            <template slot="prepend"><span class="c666">取引名</span></template>
          </el-input>
        </el-col>
        <el-col :span="9">
          <span class="f-left custom-label">取引日</span>
          <el-date-picker
            v-model="query.torihiki_datetime"
            type="daterange"
            range-separator="~"
            start-placeholder="開始日"
            end-placeholder="終了日"
            format="yyyy/MM/dd"
            value-format="yyyy-MM-dd"
          />
          <el-button
            type="primary"
            style="margin-left: -4px"
            @click="clearInputDate()"
          >
            クリア
          </el-button>
        </el-col>
        <el-col :span="5">
          <el-input
            v-model="query.biko_text"
            placeholder="メモ・備考"
            style="width: 80%"
            @keyup.enter.native="handleFilter"
          >
            <template slot="prepend"><span class="c666">メモ・備考</span></template>
          </el-input>
        </el-col>
      </div>
      <div style="clear: both">&nbsp;</div>
      <div class="two-line">
        <el-col :span="6">
          <span class="f-left custom-label">表示件数</span>
          <el-select
            v-model="query.limit"
            :placeholder="'表示件数'"
            clearable
            style="width: 90px"
            @change="handleFilter"
          >
            <el-option v-for="item in rowsPerPage" :key="item" :value="item" />
          </el-select>
        </el-col>
        <el-col :span="18">
          <el-button v-waves type="primary" icon="el-icon-search" @click="handleFilter">
            検索する
            <input id="array_list" type="hidden" :value="list_array">
          </el-button>
          <el-button v-waves type="danger" @click="clearAllSearchCondition">
            検索条件をクリアする
          </el-button>
        </el-col>
      </div>
    </div>
    <!-- Search & Filter-->
    <h3 class="title-filter pt-20">納品書一覧表   （検索結果： {{ total }} 件）</h3>
    <!-- Table -->
    <el-table v-loading="loading" :data="list" :empty-text="'データなし'" border fit highlight-current-row style="width: 100%">
      <el-table-column align="center" label="伝票No." width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.denpyo_number }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="取引名">
        <template slot-scope="scope">
          <span>{{ scope.row.torihiki_text }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="納入先">
        <template slot-scope="scope">
          <span>{{ scope.row.nonyusaki_name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="請求先" width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.seikyusaki_name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="担当者" width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.tantou_name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="取引日" width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.torihiki_datetime }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="備考" width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.biko_text }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="合計額(税抜)" width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.total_kingaku }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="登録日 最終更新日" width="120">
        <template slot-scope="scope">
          <p>{{ scope.row.created_at }}</p>
          <p>{{ scope.row.updated_at }}</p>
        </template>
      </el-table-column>

      <el-table-column align="center" label="操作" width="350">
        <template slot-scope="scope">
          <p>
            <router-link :to="'/client/Download_pdf_type1/'+scope.row.id" target="_blank">
              <el-button
                v-waves
                class="filter-item"
                type="primary"
                icon="el-icon-eye-open"
              >
                PDF1 プレビュー
              </el-button>
            </router-link>
            <el-button
              type="primary"
              icon="el-icon-download"
              :loading="downloading"
              @click="handleDownloadPDF1(scope.row)"
            >
              ダウンロード
            </el-button>
          </p>
          <p>
            <router-link :to="'/client/Download_pdf_type2/'+scope.row.id" target="_blank">
              <el-button
                v-waves
                class="filter-item"
                type="primary"
                icon="el-icon-eye-open"
              >
                PDF2 プレビュー
              </el-button>
            </router-link>
            <el-button
              type="primary"
              icon="el-icon-download"
              :loading="downloading"
              @click="handleDownloadPDF2(scope.row)"
            >
              ダウンロード
            </el-button>
          </p>
        </template>
      </el-table-column>
    </el-table>
    <!--Table-->
    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import Resource from '@/api/resource';
import waves from '@/directive/waves';
import UserResource from '@/api/user';
import store from '@/store'; // Waves directive
import CSVResource from '@/api/exportcsv';
import html2pdf from 'html2pdf.js';
import Encoding from 'encoding-japanese';

const nouhinshouResource = new Resource('nouhinshous');
const clientResource = new Resource('clients');
const userResource = new UserResource();
const csvResource = new CSVResource('nouhinshous');

export default {
  name: 'ListNouhinshous',
  components: { Pagination },
  directives: { waves },
  data() {
    return {
      list: null,
      listUsers: [],
      listClients: [],
      total: 0,
      list_array: [],
      loading: true,
      downloading: false,
      query: {
        page: 1,
        limit: 50,
        biko_text: '',
        torihiki_text: '',
        torihiki_code: '',
        denpyo_number: '',
        nonyusaki_id: '',
        seikyusaki_id: '',
        tantou_id: '',
        role: '',
        date_from: '',
        date_to: '',
      },
      rowsPerPage: [50, 100, 150],
      roles: ['admin', 'manager', 'user'],
      nonAdminRoles: ['user'],
    };
  },
  computed: {
    isDisabled() {
      if (this.total === 0) {
        return true;
      } else {
        return false;
      }
    },
  },
  created() {
    this.getList();
    this.getListUsers();
    this.getListClients();
  },
  methods: {
    async getList() {
      const { limit, page } = this.query;
      const client = await store.dispatch('user/getInfoClient');
      this.query.role = 'user';
      this.query.client_id = (typeof client === 'object' && client !== null) ? client.id : '';
      this.loading = true;
      const { data, meta } = await nouhinshouResource.list(this.query);
      this.list = data;
      this.list.forEach((element, index) => {
        element['index'] = (page - 1) * limit + index + 1;
      });
      this.total = meta.total;
      const csvs = await csvResource.listCSVs(this.query);
      this.list_array = this.handArray(csvs);
      this.loading = false;
    },
    async getListUsers() {
      const { data } = await userResource.list([]);
      this.listUsers = data;
    },
    async getListClients() {
      const { data } = await clientResource.list([]);
      this.listClients = data;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    handleDelete(id, name) {
      this.$confirm('This will permanently delete user ' + name + '. Continue?', 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning',
      }).then(() => {
        nouhinshouResource.destroy(id).then(response => {
          this.$message({
            type: 'success',
            message: 'Delete completed',
          });
          this.handleFilter();
        }).catch(error => {
          console.log(error);
        });
      }).catch(() => {
        this.$message({
          type: 'info',
          message: 'Delete canceled',
        });
      });
    },
    handArray(data){
      return Object.keys(data).map((key) => [data[key]['id']]);
    },
    csvExportType1() {
      csvResource
        .listCSV1(this.list_array)
        .then(
          json => {
            const arrData = json.data.map(item => ({
              ...item,
            }));
            let csvContent = 'data:text/csv;charset=Shift_JIS,';
            csvContent += [
              ...arrData.map(item => Object.values(item).join(',')),
            ]
              .join('\n')
              .replace(/(^\[)|(\]$)/gm, '');
            const name_csv = 'outputNohinsho_' + this.getCurrentTime() + '＿タイプ1.csv';
            const convertCsvDate = this.convertToShiftJIS(csvContent);
            const blob = new Blob([convertCsvDate], { type: 'text/csv;charset=Shift_JIS' });
            if (navigator.msSaveBlob) { // IE 10+
              navigator.msSaveBlob(blob, name_csv);
            } else {
              const link = document.createElement('a');
              if (link.download !== undefined) { // feature detection
                // Browsers that support HTML5 download attribute
                const url = (window.URL || window.webkitURL).createObjectURL(blob);
                link.setAttribute('href', url);
                link.setAttribute('charset', 'Shift_JIS');
                link.setAttribute('download', name_csv);
                link.style.visibility = 'hidden';
                document.body.appendChild(link);
                link.click();
                setTimeout(() => {
                  (window.URL || window.webkitURL).revokeObjectURL(link.href);
                }, 100);
                document.body.removeChild(link);
              }
            }
          }
        );
    },
    csvExportType2() {
      csvResource
        .listCSV2(this.list_array)
        .then(
          json => {
            const arrData = json.data.map(item => ({
              ...item,
            }));
            let csvContent = 'data:text/csv;charset=Shift_JIS,';
            csvContent += [
              ...arrData.map(item => Object.values(item).join(',')),
            ]
              .join('\n')
              .replace(/(^\[)|(\]$)/gm, '');
            const name_csv = 'outputNohinsho_' + this.getCurrentTime() + '＿タイプ2.csv';
            const convertCsvDate = this.convertToShiftJIS(csvContent);
            const blob = new Blob([convertCsvDate], { type: 'text/csv;charset=Shift_JIS' });
            if (navigator.msSaveBlob) { // IE 10+
              navigator.msSaveBlob(blob, name_csv);
            } else {
              const link = document.createElement('a');
              if (link.download !== undefined) { // feature detection
                // Browsers that support HTML5 download attribute
                const url = (window.URL || window.webkitURL).createObjectURL(blob);
                link.setAttribute('href', url);
                link.setAttribute('charset', 'Shift_JIS');
                link.setAttribute('download', name_csv);
                link.style.visibility = 'hidden';
                document.body.appendChild(link);
                link.click();
                setTimeout(() => {
                  (window.URL || window.webkitURL).revokeObjectURL(link.href);
                }, 100);
                document.body.removeChild(link);
              }
            }
          }
        );
    },
    getCurrentTime() {
      const date_ob = new Date();
      const date = ('0' + date_ob.getDate()).slice(-2);
      const month = ('0' + (date_ob.getMonth() + 1)).slice(-2);
      const year = date_ob.getFullYear();
      const hours = (date_ob.getHours() + '').length === 1 ? '0' + date_ob.getHours() : date_ob.getHours();
      const minutes = (date_ob.getMinutes() + '').length === 1 ? '0' + date_ob.getMinutes() : date_ob.getMinutes();
      const seconds = (date_ob.getSeconds() + '').length === 1 ? '0' + date_ob.getSeconds() : date_ob.getSeconds();
      return year + month + date + hours + minutes + seconds;
    },
    handleDownloadTypeTwo() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = [
          'denpyo_number',
          'torihiki_text',
          'nonyusaki_name',
          'seikyusaki_name',
          'tantou_name',
          'torihiki_datetime',
          'biko_text',
          'total_kingaku',
          'created_at',
          'updated_at',
        ];
        const filterVal = [
          'denpyo_number',
          'torihiki_text',
          'nonyusaki_name',
          'seikyusaki_name',
          'tantou_name',
          'torihiki_datetime',
          'biko_text',
          'total_kingaku',
          'created_at',
          'updated_at',
        ];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'order-list',
        });
        this.downloading = false;
      });
    },
    handleDownloadPDF1(row) {
      const id = row.id;
      const denpyo_number = row.denpyo_number;
      csvResource
        .getViewPDF(id)
        .then(
          json => {
            const opt = {
              margin: 1,
              filename: denpyo_number + '.pdf',
              image: { type: 'jpeg', quality: 0.98 },
              html2canvas: { scrollX: true, scrollY: true, scale: 2 },
              jsPDF: { unit: 'in', format: 'letter', orientation: 'landscape' },
            };
            html2pdf().set(opt).from(json.view).save();
          }
        );
    },
    handleDownloadPDF2(row) {
      const id = row.id;
      const denpyo_number = row.denpyo_number;
      csvResource
        .getViewPDF2(id)
        .then(
          json => {
            const opt = {
              margin: 1,
              filename: denpyo_number + '.pdf',
              image: { type: 'jpeg', quality: 0.98 },
              html2canvas: { scrollX: true, scrollY: true, scale: 2 },
              jsPDF: { unit: 'in', format: 'letter', orientation: 'landscape' },
            };
            html2pdf().set(opt).from(json).save();
          }
        );
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
    scrollToTop() {
      window.scrollTo(0, 0);
    },
    clearAllSearchCondition() {
      this.query = {
        page: 1,
        limit: 50,
        biko_text: '',
        torihiki_text: '',
        torihiki_code: '',
        denpyo_number: '',
        nonyusaki_id: '',
        seikyusaki_id: '',
        tantou_id: '',
        role: '',
        date_from: '',
        date_to: '',
      };
      this.getList();
      this.getListUsers();
      this.getListClients();
    },
    removeAllSearch() {
      if (this.list.length) {
        this.$confirm('This will permanently delete all result research ' + name + '. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }).then(() => {
          this.list.forEach((item) => {
            nouhinshouResource.destroy(item.id);
          });
          this.$message({
            type: 'success',
            message: 'Delete completed',
          });
          this.handleFilter();
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled',
          });
        });
      }
    },
    clearInputDate() {
      this.query.torihiki_datetime = '';
    },
    convertToShiftJIS(target) {
      const uniArray = Encoding.stringToCode(target);
      const sjisArray = Encoding.convert(uniArray, {
        to: 'SJIS',
        from: 'UNICODE',
      });
      return new Uint8Array(sjisArray);
    },
  },
};
</script>

<style lang="scss" scoped>
  .edit-input {
    padding-right: 100px;
  }

  .cancel-btn {
    position: absolute;
    right: 15px;
    top: 10px;
  }

  .dialog-footer {
    text-align: left;
    padding-top: 0;
    margin-left: 150px;
  }

  .app-container {
    flex: 1;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;

    .block {
      float: left;
      min-width: 250px;
    }
    .header-container {
      padding-bottom: 25px;
      border-bottom: 1px solid #999999;
    }
    .btn-container{
      padding-bottom: 5px;
      border-bottom: 1px solid #999999;
    }
    .btn-container{
      margin: 5px 0;
    }
    .f-left{
      float: left;
    }
    .f-right{
      float: right;
    }
    .title-filter{
      color: #073763;
    }
    .line{
      text-align: center;
    }
    .custom-label {
      background-color: #F5F7FA;
      color: #666666;
      border: 1px solid #DCDFE6;
      border-radius: 4px 0px 0px 4px;
      padding: 9px 20px;
    }
  }
  .c666 {
    color: #666666;
  }
  .pt-20 {
    padding-top: 20px;
  }
</style>
