<template>
  <div class="login-container">
    <el-form ref="resetPasswordForm" :model="resetPasswordForm" :rules="resetPasswordRules" class="reset-form" auto-complete="on" label-position="left">
      <h3 class="title">
        パスワードをリセット
      </h3>
      <el-form-item prop="loginID">
        <span class="svg-container">
          <svg-icon icon-class="user" />
        </span>
        <el-input v-model="resetPasswordForm.loginID" name="loginID" type="text" auto-complete="on" :placeholder="'ログインID'" />
      </el-form-item>
      <el-form-item prop="email">
        <span class="svg-container">
          <svg-icon icon-class="email" />
        </span>
        <el-input
          v-model="resetPasswordForm.email"
          type="text"
          name="email"
          auto-complete="on"
          :placeholder="'メール'"
          @keyup.enter.native="handleReset"
        />
      </el-form-item>
      <el-form-item>
        <el-button :loading="loading" :disabled="isDisable" type="primary" style="width:100%;" @click.native.prevent="handleReset">
          リセット
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { csrf } from '@/api/auth';

export default {
  name: 'Login',
  data() {
    return {
      resetPasswordForm: {
        loginID: '',
        email: '',
      },
      resetPasswordRules: {
        email: [
          { type: 'email', message: '正しいメールを入力してください。', trigger: ['blur', 'change'] },
          { max: 50, message: '50文字まで入力してください。', trigger: 'blur' },
        ],
        loginID: { required: true, message: '必須項目', trigger: 'blur' },
      },
      loading: false,
      isDisable: false,
      redirect: undefined,
      otherQuery: {},
    };
  },
  watch: {
    $route: {
      handler: function(route) {
        const query = route.query;
        if (query) {
          this.redirect = query.redirect;
          this.otherQuery = this.getOtherQuery(query);
        }
      },
      immediate: true,
    },
  },
  methods: {
    handleReset() {
      this.$refs.resetPasswordForm.validate(valid => {
        if (valid) {
          this.isDisable = true;
          this.loading = true;
          csrf().then(() => {
            this.$store.dispatch('user/resetPassword', this.resetPasswordForm)
              .then(() => {
                this.loading = false;
                this.$message({
                  type: 'success',
                  message: 'パスワードがリセットしました。メールを確認してください。',
                });
                setTimeout(() => {
                  this.$router.push({ path: this.redirect || '/', query: this.otherQuery }, onAbort => {});
                }, 3000);
              })
              .catch(() => {
                this.loading = false;
                this.isDisable = false;
              });
          });
        } else {
          console.log('error submit!!');
          this.isDisable = false;
          return false;
        }
      });
    },
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== 'redirect') {
          acc[cur] = query[cur];
        }
        return acc;
      }, {});
    },
  },
};
</script>

<style rel="stylesheet/scss" lang="scss">
  $bg:#2d3a4b;
  $light_gray:#eee;

  /* reset element-ui css */
  .login-container {
    .el-input {
      display: inline-block;
      height: 47px;
      width: 85%;
      input {
        background: transparent;
        border: 0px;
        -webkit-appearance: none;
        border-radius: 0px;
        padding: 12px 5px 12px 15px;
        color: $light_gray;
        height: 47px;
        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0px 1000px $bg inset !important;
          -webkit-text-fill-color: #fff !important;
        }
      }
    }
    .el-form-item {
      border: 1px solid rgba(255, 255, 255, 0.1);
      background: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      color: #454545;
    }
  }

</style>

<style rel="stylesheet/scss" lang="scss" scoped>
  $bg:#2d3a4b;
  $dark_gray:#889aa4;
  $light_gray:#eee;
  .login-container {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: $bg;
    .reset-form {
      position: absolute;
      left: 0;
      right: 0;
      width: 520px;
      max-width: 100%;
      padding: 35px 35px 15px 35px;
      margin: 120px auto;
    }
    .tips {
      font-size: 14px;
      color: #fff;
      margin-bottom: 10px;
      span {
        &:first-of-type {
          margin-right: 16px;
        }
      }
    }
    .svg-container {
      padding: 6px 5px 6px 15px;
      color: $dark_gray;
      vertical-align: middle;
      width: 30px;
      display: inline-block;
    }
    .title {
      font-size: 26px;
      color: $light_gray;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
    }
    .show-pwd {
      position: absolute;
      right: 10px;
      top: 7px;
      font-size: 16px;
      color: $dark_gray;
      cursor: pointer;
      user-select: none;
    }
    .set-language {
      color: #fff;
      position: absolute;
      top: 40px;
      right: 35px;
    }
  }
  @media screen and (orientation:landscape) and (max-width:1024px) {
    .login-container {
      position: relative;
      overflow-y: auto;
      .reset-form {
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        margin: auto;
      }
    }
  }
</style>
