<template>
  <div class="app-container">
    <upload-excel-component :on-success="handleSuccess" :before-upload="beforeUpload" />
    <el-table :data="logData" border highlight-current-row style="width: 100%;margin-top:20px;">
      <el-table-column v-for="item of logHeader" :key="item" align="center" :prop="item" :label="item" />
      <el-table-column align="center" label="ステータス">
        <template slot-scope="scope">
          <el-button
            v-if="scope.row.ステータス === 1"
            type="default"
            size="small"
            style="color: green"
          >
            処理中
          </el-button>
          <el-button
            v-if="scope.row.ステータス === 2"
            type="default"
            size="small"
          >
            完了
          </el-button>
          <el-button
            v-if="scope.row.ステータス === 3"
            type="default"
            size="small"
            style="color: red"
          >
            エラー
          </el-button>
        </template>
      </el-table-column>
      <el-table-column align="center" label="削除" width="80">
        <template slot-scope="scope">
          <el-button
            type="danger"
            size="small"
            icon="el-icon-delete"
            @click="handleDelete(scope.row.ID)"
          />
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getListImportLogs"
    />
  </div>
</template>

<script>
import Pagination from '@/components/Pagination';
import UploadExcelComponent from '@/components/UploadExcel/index.vue';
import { importCsvType1, importCsvType2 } from '@/api/import';
import Resource from '@/api/resource';
const importLogResource = new Resource('import/log');

export default {
  name: 'UploadExcel',
  components: { UploadExcelComponent, Pagination },
  data() {
    return {
      loading: false,
      file_name: null,
      logHeader: ['ID', '実装時間', 'ファイル名', '担当者', '納品書数'],
      logData: [],
      total: 0,
      query: {
        page: 1,
        limit: 10,
      },
      import_file: null,
      numberCol: 0,
    };
  },
  created() {
    this.getListImportLogs();
  },
  methods: {
    beforeUpload(file) {
      const isLt2G = file.size / 2 / 1024 / 1024 / 1024 < 1;

      if (isLt2G) {
        return true;
      }

      this.$message({
        message: 'Please do not upload files larger than 2G in size.',
        type: 'warning',
      });
      return false;
    },
    handleSuccess({ import_file, numberCol }) {
      this.import_file = import_file;
      this.numberCol = numberCol;
      this.importData();
    },
    importData() {
      if (this.loading) {
        return;
      }
      this.loading = true;
      switch (this.numberCol) {
        case 20:
          this.importCsv(importCsvType2);
          this.loading = false;
          break;
        case 26:
          this.importCsv(importCsvType1);
          this.loading = false;
          break;
        default:
          this.loading = false;
          break;
      }
    },
    importCsv(action) {
      const formData = new FormData();
      formData.append('import_file', this.import_file);
      action(formData).then(() => {
        this.$notify({
          title: '成功',
          message: '正常にインポート',
          type: 'success',
          duration: 2000,
        });
      })
        .catch(err => {
          console.log(err);
          this.$notify({
            title: '誤り',
            message: '入力エラー',
            type: 'false',
            duration: 2000,
          });
        });
      this.getListImportLogs();
    },
    async getListImportLogs() {
      const { limit, page } = this.query;
      this.loading = true;
      const { data, meta } = await importLogResource.list(this.query);
      this.logData = data;
      this.logData.forEach((element, index) => {
        element['index'] = (page - 1) * limit + index + 1;
      });
      this.total = meta.total;
      this.loading = false;
    },
    handleDelete(id) {
      this.$confirm('消去してもよろしいですか？', '削除確認', {
        confirmButtonText: 'はい',
        cancelButtonText: 'いいえ',
        type: 'warning',
      }).then(() => {
        importLogResource.destroy(id).then(response => {
          this.$message({
            type: 'success',
            message: '正常に削除',
          });
          this.getListImportLogs();
        }).catch(error => {
          console.log(error);
        });
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '削除に失敗しました',
        });
      });
    },
  },
};
</script>
