<template>
  <div class="app-container">
    <!-- Header -->
    <div>
      <span class="header-title">納品書詳細・登録 [登録]</span>
      <el-button
        style="float: right"
        type="primary"
        @click="dashboad()"
      >
        メニューへ戻る
      </el-button>
    </div>
    <div class="filter-container">
      <el-button type="primary" @click="topList()">
        納品書リストに戻る
      </el-button>
    </div>
    <!--Header-->
    <!-- Search & Filter -->
    <div class="filter-container">
      <el-button type="primary" @click="createNouhin()">
        この納品書を保存
      </el-button>
    </div>
    <!-- Search & Filter-->
    <h3 class="title-filter">「{{ postForm.denpyo_number }}」編集 </h3>
    <el-form ref="postForm" :model="postForm" :rules="rules" class="form-container">
      <div class="filter-container">
        <div>
          <el-row>
            <el-col :span="6">
              <el-form-item prop="denpyo_number">
                <el-input
                  v-model="postForm.denpyo_number"
                  placeholder="伝票No."
                  style="width: 76%"
                >
                  <template slot="prepend"><span class="c666">伝票No.</span></template>
                </el-input>
              </el-form-item>
            </el-col>
            <el-col :span="2">&nbsp;</el-col>
            <el-col :span="3">
              <el-form-item prop="torihiki_text">
                <el-input
                  v-model="postForm.torihiki_text"
                  placeholder="取引名"
                >
                  <template slot="prepend"><span class="c666">取引名</span></template>
                </el-input>
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-form-item prop="torihiki_code">
                <el-input
                  v-model="postForm.torihiki_code"
                  :placeholder="'コード'"
                  style="width: 52%"
                />
              </el-form-item>
            </el-col>
            <el-col :span="2">&nbsp;</el-col>
            <el-col :span="8">
              <el-form-item prop="tantou_id">
                <span class="custom-label">社内担当者</span>
                <el-select
                  v-model="postForm.tantou_id"
                  :placeholder="'社内担当者'"
                  style="margin-left: -5px"
                  clearable
                >
                  <el-option
                    :key="''"
                    :label="'選択なし'"
                    :value="''"
                    :disabled="true"
                  />
                  <el-option v-for="item in listUsers" :key="item.id" :label="item.name" :value="item.id" />
                </el-select>
                <el-button
                  type="primary"
                  @click="selectLogginUser"
                >
                  自分
                </el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
        <div>
          <el-row>
            <el-col :span="8">
              <el-form-item prop="seikyusaki_id">
                <span class="custom-label">請求先</span>
                <el-select
                  v-model="postForm.seikyusaki_id"
                  :placeholder="'請求先'"
                  style="margin-left: -5px"
                  clearable
                >
                  <el-option
                    :key="''"
                    :label="'選択なし'"
                    :value="''"
                    :disabled="true"
                  />
                  <el-option v-for="item in listClients.filter(x => (x.type === 1))" :key="item.id" :label="item.name" :value="item.id">
                    <span>{{ item.code }} : </span>
                    <span>{{ item.name }}</span>
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item prop="nonyusaki_id">
                <span class="custom-label">納入先</span>
                <el-select
                  v-model="postForm.nonyusaki_id"
                  :placeholder="'請求先'"
                  style="margin-left: -5px"
                  clearable
                >
                  <el-option
                    :key="''"
                    :label="'選択なし'"
                    :value="''"
                    :disabled="true"
                  />
                  <el-option v-for="item in listClients.filter(x => (x.type === 2))" :key="item.id" :label="item.name" :value="item.id">
                    <span>{{ item.code }} : </span>
                    <span>{{ item.name }}</span>
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item prop="torihiki_datetime">
                <span class="custom-label" style="margin-right: -5px;">取引日</span>
                <el-date-picker
                  v-model="postForm.torihiki_datetime"
                  type="date"
                  placeholder="Pick a day"
                  format="yyyy/MM/dd"
                  value-format="yyyy/MM/dd"
                />
                <el-button
                  type="primary"
                  @click="clearInputDate()"
                >
                  クリア
                </el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
        <div>
          <el-form-item prop="biko_text">
            <el-input
              v-model="postForm.biko_text"
              type="textarea"
              :placeholder="'メモ・備考'"
              style="width: 50%"
            >
              <template slot="prepend"><span class="c666">備考</span></template>
            </el-input>
          </el-form-item>
        </div>
      </div>
      <!-- Table -->
      <el-table v-loading="loading" :data="meisais" :empty-text="'データなし'"	border fit highlight-current-row style="width: 100%; margin-bottom: 10px">
        <el-table-column align="center" label="商品コード" width="200">
          <template slot-scope="scope">
            <el-form-item>
              <el-input v-model="scope.row.item_code" maxlength="20" />
            </el-form-item>
          </template>
        </el-table-column>

        <el-table-column align="center" label="商品名" width="200">
          <template slot-scope="scope">
            <el-form-item>
              <el-input v-model="scope.row.item_name" maxlength="100" />
            </el-form-item>
          </template>
        </el-table-column>

        <el-table-column align="center" label="商品規格" width="200">
          <template slot-scope="scope">
            <el-form-item>
              <el-input v-model="scope.row.item_kikaku" maxlength="100" />
            </el-form-item>
          </template>
        </el-table-column>

        <el-table-column align="center" label="数量" width="150">
          <template slot-scope="scope">
            <el-form ref="scope.row" :model="scope.row">
              <el-form-item
                prop="item_quantity"
                :rules="[
                  { type: 'number', message: '数字を入力してください。', trigger: 'blur'}
                ]"
              >
                <el-input v-model.number="scope.row.item_quantity" maxlength="100" />
              </el-form-item>
            </el-form>
          </template>
        </el-table-column>

        <el-table-column align="center" label="単価" width="200">
          <template slot-scope="scope">
            <el-form ref="scope.row" :model="scope.row">
              <el-form-item
                prop="item_tanka"
                :rules="[
                  { type: 'number', message: '数字を入力してください。', trigger: 'blur'}
                ]"
              >
                <el-input v-model.number="scope.row.item_tanka" maxlength="100" />
              </el-form-item>
            </el-form>
          </template>
        </el-table-column>

        <el-table-column align="center" label="金額" width="200">
          <template slot-scope="scope">
            <el-form-item>
              <el-input v-model.number="subtotalRow[scope.row.index]" readonly />
            </el-form-item>
          </template>
        </el-table-column>

        <el-table-column align="center" label="摘要1" width="200">
          <template slot-scope="scope">
            <el-form-item>
              <el-input v-model="scope.row.tekiyo1" maxlength="300" />
            </el-form-item>
          </template>
        </el-table-column>

        <el-table-column align="center" label="摘要2" width="200">
          <template slot-scope="scope">
            <el-form-item>
              <el-input v-model="scope.row.tekiyo2" maxlength="300" />
            </el-form-item>
          </template>
        </el-table-column>

        <el-table-column align="center" label="操作" width="250">
          <template slot-scope="scope">
            <el-form-item>
              <el-button
                v-if="!rolesLogged.includes('user')"
                type="primary"
                size="small"
                icon="el-icon-arrow-left"
                @click="addNewRow(scope.row.index)"
              >
                追加
              </el-button>
              <el-button
                v-if="!rolesLogged.includes('user')"
                type="danger"
                size="small"
                icon="el-icon-arrow-right"
                @click="removeRow(scope.row)"
              >
                削除
              </el-button>
            </el-form-item>
          </template>
        </el-table-column>
      </el-table>
      <div class="bottom-table">
        <el-col :span="8">
          <el-input
            v-model.number="totalQty"
            :place-holder="'見積り税抜き合計金額'"
            class="filter-item"
            style="width: 70%;"
            readonly
          >
            <template slot="prepend"><span class="c666">見積り税抜き合計金額</span></template>
          </el-input>
        </el-col>
        <el-col :span="6">
          <el-input
            v-model.number="kingaku"
            :place-holder="'合計'"
            class="filter-item"
            style="width: 80%;"
            readonly
          >
            <template slot="prepend"><span class="c666">合計</span></template>
          </el-input>
          円
        </el-col>
        <el-col :span="2">
          &nbsp;
        </el-col>
        <el-col :span="8">
          <el-input
            v-model.number="zei"
            :place-holder="'消費税：'"
            class="filter-item"
            style="margin-left:7%; width: 50%;"
            readonly
          >
            <template slot="prepend"><span class="c666">消費税：</span></template>
          </el-input>
          <el-radio-group v-model="rate">
            <el-radio-button :label="5">5%</el-radio-button>
            <el-radio-button :label="8">8%</el-radio-button>
            <el-radio-button :label="10">10%</el-radio-button>
          </el-radio-group>
        </el-col>
      </div>
    </el-form>
    <!-- Search & Filter -->
    <div class="filter-container">
      <el-button type="primary" @click="createNouhin()">
        この納品書を保存
      </el-button>
    </div>
    <!-- Search & Filter-->
  </div>
</template>

<script>
import { fetchNouhinshou } from '@/api/nouhinshou';
import Resource from '@/api/resource';
import UserResource from '@/api/user';

const nouhinshouResource = new Resource('nouhinshous');
const nouhinshouMeisaiResource = new Resource('nouhinshousmeisai');
const clientResource = new Resource('clients');
const userResource = new UserResource();

const defaultForm = {
  biko_text: '',
  torihiki_text: '',
  torihiki_code: '',
  denpyo_number: '',
  nonyusaki_id: '',
  seikyusaki_id: '',
  tantou_id: '',
  torihiki_datetime: '',
  nouhinshou_meisais: {},
};

const newItem = {
  item_code: '',
  item_name: '',
  item_kikaku: '',
  item_quantity: 0,
  item_tanka: 0,
  kingaku: 0,
  tekiyo1: '',
  tekiyo2: '',
};

export default {
  name: 'DetailNouhinshous',
  props: {
    isEdit: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      list: null,
      listUsers: [],
      listClients: [],
      rate: 10,
      loading: false,
      meisais: [],
      meisais_combine: [],
      postForm: Object.assign({}, defaultForm),
      roles: ['admin', 'manager', 'user'],
      nonAdminRoles: ['user'],
      rules: {
        tantou_id: [
          { required: true, message: '必須項目', trigger: 'blur' },
        ],
        denpyo_number: [
          { required: true, message: '必須項目', trigger: 'blur' },
          { max: 8, message: '8文字まで入力してください。', trigger: 'blur' },
        ],
        torihiki_datetime: [
          { required: true, message: '必須項目', trigger: 'blur' },
        ],
      },
    };
  },
  computed: {
    // get role user has logged
    rolesLogged() {
      return this.$store.getters.roles;
    },
    subtotalRow() {
      return this.meisais.map((item) => {
        return Number(item.item_quantity * item.item_tanka);
      });
    },
    totalQty() {
      return this.meisais.reduce((total, item) => {
        return parseInt(total) + parseInt(item.item_quantity);
      }, 0);
    },
    kingaku() {
      return this.meisais.reduce((total, item) => {
        return total + item.item_quantity * item.item_tanka;
      }, 0);
    },
    zei() {
      return Math.floor(this.kingaku * this.rate / 100);
    },
  },
  watch: {
    '$route': 'getNouhinshouResource',
  },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id;
      this.fetchData(id);
    } else {
      this.resetNouhinshou();
      this.resetNouhinshouMeisai();
    }
    this.getListUsers();
    this.getListClients();
  },
  methods: {
    dashboad() {
      window.location.href = '/#/dashboard';
    },
    fetchData(id) {
      fetchNouhinshou(id)
        .then(response => {
          this.postForm = response.data;

          if (Object.keys(this.postForm.nouhinshou_meisais).length === 0) {
            this.resetNouhinshouMeisai();
          } else {
            this.meisais_combine = this.postForm.nouhinshou_meisais.filter(x => (x.meisai_line === 90)).pop();
            this.meisais = this.postForm.nouhinshou_meisais.filter(x => (x.meisai_line !== 90));
            if (this.meisais_combine) {
              this.rate = Math.round((this.meisais_combine.zei / this.meisais_combine.kingaku) * 100);
            }
          }

          this.meisais.forEach((item, index) => {
            item.index = index;
          });
        })
        .catch(err => {
          console.log(err);
        });
    },
    async getListUsers() {
      const { data } = await userResource.list([]);
      this.listUsers = data;
    },
    async getListClients() {
      const { data } = await clientResource.list([]);
      this.listClients = data;
    },
    createNouhin() {
      this.$refs['postForm'].validate((valid) => {
        if (valid) {
          this.meisais.forEach((item) => {
            item.kingaku = Number(item.item_quantity * item.item_tanka);
          });

          if (!this.meisais_combine.id) {
            this.meisais_combine = Object.assign({}, newItem);
          }
          this.meisais_combine.item_quantity = this.totalQty;
          this.meisais_combine.kingaku = this.kingaku;
          this.meisais_combine.zei = this.zei;
          this.postForm.nouhinshou_meisais = this.meisais.concat(this.meisais_combine);
          this.check = true;
          if (this.isEdit) {
            const id = this.$route.params && this.$route.params.id;
            nouhinshouResource
              .update(id, this.postForm)
              .then(response => {
                this.fetchData(id);
                this.$message({
                  message: '納品書情報の変更が完了しました。',
                  type: 'success',
                  duration: 5 * 1000,
                });
                this.dialogFormVisible = false;
              })
              .catch(error => {
                console.log(error);
              })
              .finally(() => {
                this.check = false;
              });
          } else {
            nouhinshouResource
              .store(this.postForm)
              .then(response => {
                this.$message({
                  message: '納品書情報の新規登録が完了しました。',
                  type: 'success',
                  duration: 5 * 1000,
                });
                const path = '/nouhin/index';
                this.$router.push({
                  path,
                  query: {
                    t: +new Date(),
                  },
                });
                this.dialogFormVisible = false;
              })
              .catch(error => {
                console.log(error);
              })
              .finally(() => {
                this.check = false;
              });
          }
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetNouhinshou() {
      this.postForm = Object.assign({}, defaultForm);
    },
    resetNouhinshouMeisai() {
      this.meisais = [];
      for (let i = 0; i < 9; i++) {
        const nItem = Object.assign({}, newItem);
        nItem.index = i;
        this.meisais.push(nItem);
      }
      this.meisais_combine = [];
    },
    addNewRow(index) {
      const first = [];
      const second = [];
      const nItem = Object.assign({}, newItem);
      this.meisais.forEach((item) => {
        if (item.index <= index) {
          first.push(item);
        } else {
          second.push(item);
        }
      });
      first.push(nItem);
      this.meisais = first.concat(second);
      this.resetMeisaiIndex();
    },
    removeRow(row) {
      if (!row.id) {
        this.meisais.splice(row.index, 1);
      } else {
        nouhinshouMeisaiResource.destroy(row.id).then(response => {
          this.$message({
            type: 'success',
            message: '納品書情報の削除が完了しました。',
          });
          this.meisais.splice(row.index, 1);
          if (!this.meisais.length) {
            this.resetNouhinshouMeisai();
          }
        }).catch(error => {
          console.log(error);
          this.$message({
            type: 'info',
            message: '削除がキャンセルされました',
          });
        });
      }
      this.resetMeisaiIndex();
    },
    selectLogginUser() {
      this.postForm.tantou_id = this.$store.getters.userId;
    },
    clearInputDate() {
      this.postForm.torihiki_datetime = '';
    },
    resetMeisaiIndex() {
      this.meisais.forEach((item, idx) => {
        item.index = idx;
      });
    },
    topList() {
      window.location.href = '/#/nouhin/index';
    },
  },
};
</script>

<style lang="scss" scoped>
  .edit-input {
    padding-right: 100px;
  }

  .cancel-btn {
    position: absolute;
    right: 15px;
    top: 10px;
  }

  .dialog-footer {
    text-align: left;
    padding-top: 0;
    margin-left: 150px;
  }

  .custom-label {
    background-color: #F5F7FA;
    color: #666666;
    border: 1px solid #DCDFE6;
    border-radius: 4px 0px 0px 4px;
    padding: 9px 20px;
  }
  .c666 {
    color: #666666;
  }
</style>
