<template>
  <el-row :gutter="40" class="panel-group">
    <a href="#/nouhin/index">
      <el-col :xs="12" :sm="12" :lg="8" class="card-panel-col">
        <div class="card-panel">
          <div class="card-panel-icon-wrapper icon-people">
            <svg-icon icon-class="documentation" class-name="card-panel-icon" />
          </div>
          <div class="card-panel-description">
            <div class="card-panel-text">
              納品書検索
            </div>
            <div class="card-panel-text-dir">
              <span>納品書の検索・登録・編集等を行います。</span><br>
              <span>納品書の新規登録はこちらから。</span>
            </div>
          </div>
        </div>
      </el-col>
    </a>
    <a href="#/customer/index">
      <el-col :xs="12" :sm="12" :lg="8" class="card-panel-col">
        <div class="card-panel">
          <div class="card-panel-icon-wrapper icon-message">
            <svg-icon icon-class="user" class-name="card-panel-icon" />
          </div>
          <div class="card-panel-description">
            <div class="card-panel-text">
              顧客マスタメンテナンス
            </div>
            <div class="card-panel-text-dir">
              顧客マスタのメンテナンスを行います。
            </div>
          </div>
        </div>
      </el-col>
    </a>
    <a href="#/tantou/index">
      <el-col :xs="12" :sm="12" :lg="8" class="card-panel-col">
        <div class="card-panel">
          <div class="card-panel-icon-wrapper icon-money">
            <svg-icon icon-class="people" class-name="card-panel-icon" />
          </div>
          <div class="card-panel-description">
            <div class="card-panel-text">
              担当者マスタメンテナンス
            </div>
            <div class="card-panel-text-dir">
              担当者マスタのメンテナンスを行います。
            </div>
          </div>
        </div>
      </el-col>
    </a>
  </el-row>
</template>

<script>
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.panel-group {
  margin-top: 18px;
  .card-panel-col{
    margin-bottom: 32px;
  }
  .card-panel {
    height: 108px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    color: #666;
    background: #fff;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, .05);
    border-color: rgba(0, 0, 0, .05);
    &:hover {
      .card-panel-icon-wrapper {
        color: #fff;
      }
      .icon-people {
         background: #40c9c6;
      }
      .icon-message {
        background: #36a3f7;
      }
      .icon-money {
        background: #f4516c;
      }
      .icon-shopping {
        background: #34bfa3
      }
    }
    .icon-people {
      color: #40c9c6;
    }
    .icon-message {
      color: #36a3f7;
    }
    .icon-money {
      color: #f4516c;
    }
    .icon-shopping {
      color: #34bfa3
    }
    .card-panel-icon-wrapper {
      float: left;
      margin: 14px 0 0 14px;
      padding: 16px;
      transition: all 0.38s ease-out;
      border-radius: 6px;
      display: inline-block;
      margin-right: 20px;
    }
    .card-panel-icon {
      float: left;
      font-size: 48px;
    }
    .card-panel-description {
      //float: right;
      font-weight: bold;
      margin: 26px;
      margin-left: 0px;
      .card-panel-text {
        line-height: 18px;
        color: rgba(0, 0, 0, 0.45);
        font-size: 15px;
        margin-bottom: 12px;
      }
      .card-panel-text-dir {
        line-height: 18px;
        color: rgba(0, 0, 0, 0.85);
        font-size: 12px;
        margin-bottom: 12px;
      }
      //.card-panel-num {
      //  font-size: 20px;
      //}
    }
  }
}
</style>
