<template>
  <div class="app-container">
    <!-- Header -->
    <div class="header-container">
      <span class="header-title">社内担当詳細・登録 [確認]</span>
      <el-button
        class="f-right"
        type="primary"
        @click="dashboad()"
      >
        メニューへ戻る
      </el-button>
    </div>
    <!--Button-->
    <div class="btn-container">
      <router-link to="/tantou/index">
        <el-button
          class="btn-top-left"
          type="primary"
        >
          社内担当リストに戻る
        </el-button>
      </router-link>
    </div>
    <h3 v-if="(form.created_at === form.updated_at)" class="title-filter">社内担当者登録 確認</h3>
    <h3 v-else class="title-filter">「 {{ form.name }} 」編集 確認</h3>
    <el-form ref="form" :model="form" label-width="160px">
      <el-form-item align="center">
        <a @click="onCancel">
          <el-button>
            戻る
          </el-button>
        </a>
        <el-button type="primary" style="margin-left: 10px" @click="onSubmit">
          登録する
        </el-button>
      </el-form-item>
      <el-form-item label="担当コード">
        {{ form.code }}
      </el-form-item>
      <el-form-item label="担当名">
        {{ form.name }}
      </el-form-item>
      <el-form-item label="Eメール">
        {{ form.email }}
      </el-form-item>
      <el-form-item label="ログインID">
        {{ form.login_id }}
      </el-form-item>
      <el-form-item label="ログインパスワード ">
        <el-input v-model="form.password" type="password" readonly class="display-border" />
      </el-form-item>
      <el-form-item align="center">
        <a @click="onCancel">
          <el-button>
            戻る
          </el-button>
        </a>
        <el-button type="primary" style="margin-left: 10px" @click="onSubmit">
          登録する
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import Resource from '@/api/tantou';
const tantouResource = new Resource('tantous');
export default {
  data() {
    return {
      form: {
      },
    };
  },
  created() {
    this.getTantou(this.$route.params.id);
  },
  methods: {
    async getTantou(id) {
      const tantou = await tantouResource.get(id);
      this.form = {
        name: tantou.name,
        code: tantou.code,
        email: tantou.email,
        login_id: tantou.login_id,
        password: tantou.password,
      };
    },
    async confirm(id) {
      if (id === 'undefined'){
        window.location.href = '/#/tantou/index';
        this.$message(
          {
            type: 'success',
            message: '社内担当情報の新規登録が完了しました',
          });
      } else {
        window.location.href = '/#/tantou/edit/' + id;
        this.$message(
          {
            type: 'success',
            message: '社内担当情報の変更が完了しました。',
          });
      }
    },
    async back(id) {
      if (id === 'undefined'){
        window.location.href = '/#/tantou/add';
      } else {
        window.location.href = '/#/tantou/edit/' + id;
      }
    },
    onSubmit() {
      if (this.$route.params.id === 'undefined') {
        tantouResource
          .store(this.form)
          .then(response => {
            this.confirm(this.$route.params.id);
          });
      } else {
        tantouResource
          .update(this.$route.params.id, this.form)
          .then(response => {
            this.confirm(this.$route.params.id);
          });
      }
    },
    onCancel() {
      this.back(this.$route.params.id);
    },
    dashboad() {
      window.location.href = '/#/dashboard';
    },
  },
};
</script>

<style scoped>
.title-filter {
  color: #073763;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}
.header-container {
  padding-bottom: 25px;
  border-bottom: 1px solid #999999;
}
.btn-container{
  padding-bottom: 5px;
  border-bottom: 1px solid #999999;
}
.btn-container{
  margin: 5px 0;
}
.f-right{
  float: right;
}
.display-border input{
  border: none!important;
}
</style>

