<template>
  <div class="app-container">
    <!-- Header -->
    <div class="header-container">
      <span class="header-title">社内担当詳細・登録 [登録]</span>
      <el-button
        class="f-right"
        type="primary"
        @click="dashboad()"
      >
        メニューへ戻る
      </el-button>
    </div>
    <!--Button-->
    <div class="btn-container">
      <router-link to="/tantou/index">
        <el-button
          class="btn-top-left"
          type="primary"
        >
          社内担当リストに戻る
        </el-button>
      </router-link>
    </div>
    <h3 class="title-filter">「{{ form.name }}」編集</h3>
    <el-form ref="form" :rules="rules" :model="form" label-width="160px">
      <el-form-item align="center">
        <router-link to="/tantou/index">
          <el-button>
            顧客リストに戻る
          </el-button>
        </router-link>
        <el-button type="primary" style="margin-left: 10px" @click="onSubmit">
          確認する
        </el-button>
      </el-form-item>
      <el-form-item label="担当コード" prop="code">
        <el-input v-model="form.code" />
      </el-form-item>
      <el-form-item label="担当名" prop="name">
        <el-input v-model="form.name" />
      </el-form-item>
      <el-form-item label="Eメール" prop="email">
        <el-input v-model="form.email" />
      </el-form-item>
      <el-form-item label="ログインID" prop="login_id">
        <el-input v-model="form.login_id" />
      </el-form-item>
      <el-form-item label="ログインパスワード" prop="password">
        <el-input v-model="form.password" type="password" />
      </el-form-item>
      <el-form-item align="center">
        <router-link to="/tantou/index">
          <el-button>
            顧客リストに戻る
          </el-button>
        </router-link>
        <el-button type="primary" style="margin-left: 10px" @click="onSubmit">
          確認する
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import Resource from '@/api/tantou';
const tantouResource = new Resource('tantous');
export default {
  data() {
    function isBlank(str) {
      return (!str || /^\s*$/.test(str));
    }
    var validateBlank = (rule, value, callback) => {
      if (value.length === 0) {
        callback();
      } else if (isBlank(value)) {
        callback(new Error('スペースを入力しないでください。'));
      } else {
        console.log('foo');
        callback();
      }
    };
    return {
      form: {
        name: '',
        code: '',
        login_id: '',
        password: '',
        login_id2: '',
        password2: '',
        type: [],
      },
      rules: {
        code: [
          { required: true, message: '必須項目', trigger: 'blur' },
          { max: 10, message: '10文字まで入力してください。', trigger: 'blur' },
          { validator: validateBlank, trigger: 'blur' },
        ],
        name: [
          { required: true, message: '必須項目', trigger: 'blur' },
          { max: 50, message: '50文字まで入力してください。', trigger: 'blur' },
          { validator: validateBlank, trigger: 'blur' },
        ],
        email: [
          { type: 'email', message: '正しいメールを入力してください。', trigger: ['blur', 'change'] },
          { max: 50, message: '50文字まで入力してください。', trigger: 'blur' },
        ],
        login_id: [
          { required: true, message: '必須項目', trigger: 'blur' },
          { max: 50, message: '50文字まで入力してください。', trigger: 'blur' },
          { validator: validateBlank, trigger: 'blur' },
        ],
        password: [
          // { required: true, message: '必須項目', trigger: 'blur' },
          { max: 50, message: '50文字まで入力してください。', trigger: 'blur' },
          { validator: validateBlank, trigger: 'blur' },
        ],
      },
    };
  },
  created() {
    this.getTantou(this.$route.params.id);
  },
  methods: {
    async getTantou(id) {
      const tantou = await tantouResource.getEdit(id);
      this.form = {
        name: tantou.name ? tantou.name : '',
        code: tantou.code ? tantou.code : '',
        email: tantou.email ? tantou.email : '',
        login_id: tantou.login_id ? tantou.login_id : '',
        password: tantou.password ? tantou.password : '@@@@@@',
      };
    },
    onSubmit() {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          tantouResource
            .show(this.$route.params.id, this.form)
            .then(response => {
              if (typeof response.status !== 'undefined' && response.status === 'true') {
                this.$message({
                  type: 'error',
                  message: '同じログインIDが存在します',
                });
              } else {
                window.location.href = '/#/tantou/confirm/' + this.$route.params.id;
              }
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    dashboad() {
      window.location.href = '/#/dashboard';
    },
  },
};
</script>

<style scoped>
.title-filter {
  color: #073763;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}
.header-container {
  padding-bottom: 25px;
  border-bottom: 1px solid #999999;
}
.btn-container{
  padding-bottom: 5px;
  border-bottom: 1px solid #999999;
}
.btn-container{
  margin: 5px 0;
}
.f-right{
  float: right;
}
</style>

