<template>
  <div class="app-container">
    <!-- Header -->
    <div class="header-container">
      <span class="header-title">新規顧客登録</span>
      <el-button
        class="f-right"
        type="primary"
        @click="dashboad()"
      >
        メニューへ戻る
      </el-button>
    </div>
    <!--Button-->
    <div class="btn-container">
      <router-link to="/customer/index">
        <el-button
          class="btn-top-left"
          type="primary"
        >
          顧客リストに戻る
        </el-button>
      </router-link>
    </div>
    <h3 class="title-filter">顧客登録</h3>
    <el-form ref="form" :rules="rules" :model="form" label-width="160px">
      <el-form-item align="center">
        <router-link to="/customer/index">
          <el-button>
            顧客リストに戻る
          </el-button>
        </router-link>
        <el-button type="primary" style="margin-left: 10px" @click="onSubmit">
          確認する
        </el-button>
      </el-form-item>
      <el-form-item label="顧客タイプ" prop="type">
        <el-radio-group v-model="form.type">
          <el-radio label="1">請求先</el-radio>
          <el-radio label="2">納品先</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="顧客コード" prop="code">
        <el-input v-model="form.code" />
      </el-form-item>
      <el-form-item label="顧客名" prop="name">
        <el-input v-model="form.name" />
      </el-form-item>
      <el-form-item label="メールアドレス" prop="email">
        <el-input v-model="form.email" />
      </el-form-item>
      <el-form-item label="郵便番号" prop="postal_code">
        <el-input v-model="form.postal_code" />
      </el-form-item>
      <el-form-item label="住所" prop="address">
        <el-input v-model="form.address" />
      </el-form-item>
      <el-form-item label="ログインID（金入）：" prop="login_id">
        <el-input v-model="form.login_id" />
      </el-form-item>
      <el-form-item label="パスワード（金入）：" prop="password">
        <el-input v-model="form.password" type="password" />
      </el-form-item>
      <el-form-item label="ログインID（金抜）：" prop="login_id2">
        <el-input v-model="form.login_id2" />
      </el-form-item>
      <el-form-item label="パスワード（金抜）：" prop="password2">
        <el-input v-model="form.password2" type="password" />
      </el-form-item>
      <el-form-item align="center">
        <router-link to="/customer/index">
          <el-button>
            顧客リストに戻る
          </el-button>
        </router-link>
        <el-button type="primary" style="margin-left: 10px" @click="onSubmit()">
          確認する
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import Resource from '@/api/custom';
const customResource = new Resource('customers');
export default {
  data() {
    function isBlank(str) {
      return (!str || /^\s*$/.test(str));
    }
    var validateBlank = (rule, value, callback) => {
      if (value.length === 0) {
        callback();
      } else if (isBlank(value)) {
        callback(new Error('スペースを入力しないでください。'));
      } else {
        console.log('foo');
        callback();
      }
    };
    return {
      form: {
        name: '',
        email: '',
        postal_code: '',
        address: '',
        code: '',
        login_id: '',
        password: '',
        login_id2: '',
        password2: '',
        type: [],
      },
      rules: {
        type: [
          { required: true, message: '必須項目', trigger: 'blur' },
        ],
        code: [
          { required: true, message: '必須項目', trigger: 'blur' },
          { max: 10, message: '10文字まで入力してください。', trigger: 'blur' },
          { validator: validateBlank, trigger: 'blur' },
        ],
        name: [
          { required: true, message: '必須項目', trigger: 'blur' },
          { max: 50, message: '50文字まで入力してください。', trigger: 'blur' },
          { validator: validateBlank, trigger: 'blur' },
        ],
        email: [
          { type: 'email', message: '正しいメールを入力してください。', trigger: ['blur', 'change'] },
          { max: 50, message: '50文字まで入力してください。', trigger: 'blur' },
        ],
        postal_code: [
          { max: 7, message: '7文字まで入力してください。', trigger: 'blur' },
          { validator: validateBlank, trigger: 'blur' },
        ],
        address: [
          { max: 191, message: '191文字まで入力してください。', trigger: 'blur' },
          { validator: validateBlank, trigger: 'blur' },
        ],
        login_id: [
          { max: 50, message: '50文字まで入力してください。', trigger: 'blur' },
          { validator: validateBlank, trigger: 'blur' },
        ],
        password: [
          { max: 50, message: '50文字まで入力してください。', trigger: 'blur' },
          { validator: validateBlank, trigger: 'blur' },
        ],
        login_id2: [
          { max: 50, message: '50文字まで入力してください。', trigger: 'blur' },
          { validator: validateBlank, trigger: 'blur' },
        ],
        password2: [
          { max: 50, message: '50文字まで入力してください。', trigger: 'blur' },
          { validator: validateBlank, trigger: 'blur' },
        ],
      },
    };
  },
  created() {
    this.getCustom(this.$route.params.id);
  },
  methods: {
    async getCustom(id) {
      const customer = await customResource.getEdit(id);
      this.form = {
        name: customer.name ? customer.name : '',
        email: customer.email ? customer.email : '',
        postal_code: customer.postal_code ? customer.postal_code : '',
        address: customer.address ? customer.address : '',
        code: customer.code ? customer.code : '',
        login_id: customer.login_id ? customer.login_id : '',
        login_id2: customer.login_id2 ? customer.login_id2 : '',
        type: customer.type + '',
        password: customer.password ? customer.password : '',
        password2: customer.password2 ? customer.password2 : '',
      };
    },
    storeCustom() {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          customResource
            .create(this.form)
            .then(response => {
              if (typeof response.status !== 'undefined' && response.status === 'true') {
                this.$message({
                  type: 'error',
                  message: '同じログインIDが存在します',
                });
              } else {
                window.location.href = '/#/customer/confirm/' + response.id;
              }
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    onSubmit() {
      this.storeCustom();
    },
    dashboad() {
      window.location.href = '/#/dashboard';
    },
  },
};
</script>

<style scoped>
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}
.header-container {
  padding-bottom: 25px;
  border-bottom: 1px solid #999999;
}
.btn-container{
  padding-bottom: 5px;
  border-bottom: 1px solid #999999;
}
.btn-container{
  margin: 5px 0;
}
.f-right{
  float: right;
}
.title-filter {
  color: #073763;
}
</style>
