<template>
  <div class="app-container">
    <!-- Header -->
    <div class="header-container">
      <span class="header-title">顧客詳細・登録 [確認]</span>
      <el-button
        class="f-right"
        type="primary"
        @click="dashboad()"
      >
        メニューへ戻る
      </el-button>
    </div>
    <!--Button-->
    <div class="btn-container">
      <router-link to="/customer/index">
        <el-button
          class="btn-top-left"
          type="primary"
        >
          顧客リストに戻る
        </el-button>
      </router-link>
    </div>
    <h3 v-if="(form.created_at === form.updated_at)" class="title-filter">顧客登録 確認</h3>
    <h3 v-else class="title-filter">「 {{ form.name }} 」編集 確認</h3>
    <el-form ref="form" :model="form" label-width="160px">
      <el-form-item align="center">
        <a @click="onCancel">
          <el-button>
            戻る
          </el-button>
        </a>
        <el-button type="primary" style="margin-left: 10px" @click="onSubmit">
          登録する
        </el-button>
      </el-form-item>
      <el-form-item label="顧客タイプ">
        {{ form.type == 1 ? '請求先': '納品先' }}
      </el-form-item>
      <el-form-item label="顧客コード">
        {{ form.code }}
      </el-form-item>
      <el-form-item label="顧客名">
        {{ form.name }}
      </el-form-item>
      <el-form-item label="メールアドレス">
        {{ form.email }}
      </el-form-item>
      <el-form-item label="郵便番号">
        {{ form.postal_code }}
      </el-form-item>
      <el-form-item label="住所">
        {{ form.address }}
      </el-form-item>
      <el-form-item label="ログインID（金入）：">
        {{ form.login_id }}
      </el-form-item>
      <el-form-item label="パスワード（金入）：">
        <el-input v-model="form.password" type="password" readonly class="display-border" />
      </el-form-item>
      <el-form-item label="ログインID（金抜）：">
        {{ form.login_id2 }}
      </el-form-item>
      <el-form-item label="パスワード（金抜）：">
        <el-input v-model="form.password2" type="password" readonly class="display-border" />
      </el-form-item>
      <el-form-item align="center">
        <a @click="onCancel">
          <el-button>
            戻る
          </el-button>
        </a>
        <el-button type="primary" style="margin-left: 10px" @click="onSubmit">
          登録する
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import Resource from '@/api/custom';
const customResource = new Resource('customers');
export default {
  data() {
    return {
      form: {
      },
    };
  },
  created() {
    this.getCustom(this.$route.params.id);
  },
  methods: {
    async getCustom(id) {
      const customer = await customResource.get(id);
      this.form = {
        type: customer.type,
        name: customer.name,
        email: customer.email,
        postal_code: customer.postal_code,
        address: customer.address,
        code: customer.code,
        login_id: customer.login_id,
        password: customer.password,
        login_id2: customer.login_id2,
        password2: customer.password2,
      };
    },
    async confirm(id) {
      if (id === 'undefined'){
        window.location.href = '/#/customer/index';
        this.$message(
          {
            type: 'success',
            message: '顧客情報の新規登録が完了しました。',
          });
      } else {
        window.location.href = '/#/customer/edit/' + id;
        this.$message(
          {
            type: 'success',
            message: '顧客情報の変更が完了しました。',
          });
      }
    },
    async back(id) {
      if (id === 'undefined'){
        window.location.href = '/#/customer/add';
      } else {
        window.location.href = '/#/customer/edit/' + id;
      }
    },
    onSubmit() {
      if (this.$route.params.id === 'undefined') {
        customResource
          .store(this.form)
          .then(response => {
            this.confirm(this.$route.params.id);
          });
      } else {
        customResource
          .update(this.$route.params.id, this.form)
          .then(response => {
            this.confirm(this.$route.params.id);
          });
      }
    },
    onCancel() {
      this.back(this.$route.params.id);
    },
    dashboad() {
      window.location.href = '/#/dashboard';
    },
  },
};
</script>

<style scoped>
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}
.header-container {
  padding-bottom: 25px;
  border-bottom: 1px solid #999999;
}
.btn-container{
  padding-bottom: 5px;
  border-bottom: 1px solid #999999;
}
.btn-container{
  margin: 5px 0;
}
.f-right{
  float: right;
}
.title-filter{
  color: #073763;
}
</style>

