<template>
  <div class="app-container color-background">
    <!-- Header -->
    <div class="header-container">
      <span class="header-title">納品書 検索・一覧</span>
      <el-button
        class="f-right"
        type="primary"
        @click="dashboad()"
      >
        メニューへ戻る
      </el-button>
    </div>
    <!--Button-->
    <div class="btn-container">
      <el-button
        class="btn-top-left"
        type="primary"
        @click="dashboad()"
      >
        メニューへ戻る
      </el-button>
      <router-link :to="'/customer/add'">
        <el-button
          style="margin-left: 10px;"
          type="primary"
          icon="el-icon-plus"
          @click="removeSession()"
        >
          新規社内担当者登録
        </el-button>
      </router-link>
    </div>
    <h3 class="title-filter">検索条件</h3>
    <div class="filter-container">
      <div class="input-line">
        <el-col :span="5">
          <el-input
            v-model="listQuery.name"
            placeholder="顧客名"
            style="width: 80%"
            @keyup.enter.native="handleFilter"
          >
            <template slot="prepend">顧客名</template>
          </el-input>
        </el-col>
        <el-col :span="6">
          <el-input
            v-model="listQuery.code"
            placeholder="顧客コード"
            style="width: 80%"
            @keyup.enter.native="handleFilter"
          >
            <template slot="prepend">顧客コード</template>
          </el-input>
        </el-col>
        <el-col :span="8">
          <el-input
            v-model="listQuery.login_id"
            placeholder="ログインID(金入・金抜)"
            style="width: 80%"
            @keyup.enter.native="handleFilter"
          >
            <template slot="prepend">ログインID(金入・金抜)</template>
          </el-input>
        </el-col>
        <el-col :span="5">
          <span class="f-left custom-label">表示件数</span>
          <el-select
            v-model="listQuery.limit"
            :placeholder="'表示件数'"
            style="width: 90px"
            @change="handleFilter"
          >
            <el-option v-for="item in rowsPerPage" :key="item" :value="item" />
          </el-select>
        </el-col>
      </div>
      <div class="button-line">
        <el-button class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter">
          検索する
        </el-button>
        <el-button class="filter-item" type="danger" icon="el-icon-search" @click="clearSearch()">
          検索条件をクリアする
        </el-button>
      </div>
    </div>
    <h3 class="title-filter">検索結果一覧表   （検索結果： {{ total }} 件）</h3>
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column label="顧客種別" width="110px" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.type == 1 ? '請求先': '納品先' }}</span>
        </template>
      </el-table-column>
      <el-table-column label="顧客コード" prop="id" align="center" width="150">
        <template slot-scope="scope">
          <span>{{ scope.row.code }}</span>
        </template>
      </el-table-column>
      <el-table-column label="顧客名" align="center" min-width="150px">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>
      <el-table-column label="ログインID（金入）" align="center" width="95">
        <template slot-scope="scope">
          <span>{{ scope.row.login_id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="ログインID（金抜）" width="110px" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.login_id2 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="登録日 最終更新日" width="150px" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.created_at }}</span><br>
          <span>{{ scope.row.updated_at }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center" width="150" class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <a :href="'#/customer/edit/'+scope.row.id" @click="removeSession()">
            <el-button type="primary" size="small" icon="el-icon-edit" />
          </a>
          <el-button
            type="danger"
            size="small"
            icon="el-icon-delete"
            @click="handleDelete(scope.row.id)"
          />
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />
  </div>
</template>

<script>
import Resource from '@/api/custom';
const customResource = new Resource('customers');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination

export default {
  name: 'ComplexTable',
  components: { Pagination },
  data() {
    return {
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 50,
      },
      rowsPerPage: [50, 100, 150],
    };
  },
  created() {
    this.getList();
  },
  methods: {
    async getList() {
      this.listLoading = true;
      const { data, meta } = await customResource.list(this.listQuery);
      this.list = data;
      this.total = meta.total;
      this.listLoading = false;
    },
    handleFilter() {
      this.listQuery.page = 1;
      this.getList();
    },
    dashboad() {
      window.location.href = '/#/dashboard';
    },
    clearSearch(){
      this.listQuery = {
        page: 1,
        limit: 50,
        name: '',
        code: '',
        login_id: '',
      };
      this.getList();
    },
    removeSession() {
      customResource.removeSession();
    },
    handleDelete(id) {
      this.$confirm('この顧客を削除して宜しいでしょうか？', '削除確認', {
        confirmButtonText: 'はい',
        cancelButtonText: 'いいえ',
        type: 'warning',
      }).then(() => {
        customResource.destroy(id).then(response => {
          this.$message({
            type: 'success',
            message: '顧客情報の削除が完了しました。',
          });
          this.handleFilter();
        }).catch(error => {
          console.log(error);
        });
      }).catch(() => {
      });
    },
  },
};
</script>
<style>
.f-left{
  float: left;
}
.custom-label {
  background-color: #F5F7FA;
  color: #666666;
  border: 1px solid #DCDFE6;
  border-radius: 4px 0px 0px 4px;
  padding: 9px 20px;
}
.button-line {
  text-align: center;
  margin-top: 15px;
  display: inline-block;
  width: 100%;
}
.title-filter {
  color: #073763;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}
  .header-container {
    padding-bottom: 25px;
    border-bottom: 1px solid #999999;
  }
  .btn-container{
    padding-bottom: 5px;
    border-bottom: 1px solid #999999;
  }
  .btn-container{
    margin: 5px 0;
  }
  .f-left{
    float: left;
  }
  .f-right{
    float: right;
  }
  .title-filter{
    color: #073763;
  }
  .custom-label {
    background-color: #F5F7FA;
    color: #666666;
    border: 1px solid #DCDFE6;
    border-radius: 4px 0px 0px 4px;
    padding: 9px 20px;
  }
</style>
